h2 {
  text-align:center;
  color:white;
}
span {
  color:white;
}
  /* Game */
.forminput {
  display:none;
}
#start-button, #restartbutton {
  width: 10%;
  height: 5%;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 15%;
  font-weight: bold;
}
#blockcontainer {
  width:100%;
  height:80%;
  margin-bottom:-0.7%;
  background-color:#808080;
  display:inline-block;
}
#block, #index-block {
  width:50px;
  height:50px;
}
#board-game {
  font-weight:bold;
  position:absolute;
  margin-right:5%;
  top:0%;
  right:0%;
  height:9.5%;
}
#finalgame {
  display:none;
  width:20%;
  height:20%;
  position:absolute;
  top:15%;
  margin-left:45%;
}
  /* Styles nav */
#nav-icon {
  margin-left: 2%;
  width: 60px;
}
#nav-icon-li{
  margin-left: 1%;
  margin-top: 0%;
}
.board-element {
  display:none;
  text-align:left;
  color: black;
}
#countclicks, #hardness, #goal {
  color:black;
}
.nav-list {
  margin-left: 5%;
  margin-top: 1%;
}
.nav {
  width:100%;
}
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  background-color:white
}
  /* Footer */
.page-footer {
  background-color: white;
  vertical-align: top;
}
  /* Index */
#index-content {
  width:100%;
  min-height:60%;
  background-color:	#808080;
  display: inline-block;
}
#index-block {
  float:left;
}
.index-text {
  float: left;
  margin-left:2%;
}
.index-div {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}
/* Score */
.scorecolum{
  width: 29%;
  margin-top:2%;
  margin-bottom:1%;
  margin-left:2%;
  float:left;
  color: white;
}
.topscore{
  font-weight: bold;
}
#scorebackground
{
  background-color: #808080;
}
