<head><script src="../frontedjs/include.js"></script></head>

<div id="nav"></div>

<div id="blockcontainer">
  <h2>Block game</h2>
<div id="block"></div></div>
<div id="board-game">
  <span class="board-element">Your current score : <span id="countclicks">0</span></span>
  <span class="board-element">Mode : <span id="hardness"></span></span>
  <span class="board-element">Goal :<span id="goal"></span></span>
</div>
<form action="../controllers/savescore.php" method="POST">
  <input name="score" class="forminput" id="scoreform">
  <input name="mode" class="forminput" id="modeform">
  <div id="finalgame">
      <span>Save your record!</span> <br />
      <input name="name" id="nameform">
      <input type="submit" id="btnform" value="Save!">
  </div>
</form>
  <button id="start-button" onclick="startgame()">Start</button>

<div id="footer"></div>

<script src="../frontedjs/fronted.js"></script>
<script>
  include("headnav.html", document.getElementById("nav"));
  include("footer.html", document.getElementById("footer"));
  include("headers.html", document.getElementsByTagName("head")[0]);
</script>
