<head><script src="../frontedjs/include.js"></script></head>
<nav class="navbar navbar-default">
  <div class="flex-container">
      <ul class="nav navbar-nav">
        <li id="nav-icon-li" class="nav-list"><a href="/index.html"><img id="nav-icon" src="/images/icon.jpg"/></a></li>
        <li class="nav-list"><a href="../index.html">Home</a></li>
        <li class="nav-list"><a href="/views/scoreview.php">Scores</a></li>
        <li class="nav-list"><a href="/views/game.html?easy">Easy</a></li>
        <li class="nav-list"><a href="/views/game.html?midlevel">Mid level</a></li>
        <li class="nav-list"><a href="/views/game.html?hard">Hard</a></li>
        <li class="nav-list"><a href="/views/game.html?infinity">Infinity</a></li>
      </ul>
  </div>
</nav>
<script>
  include("headnav.html", document.getElementById("nav"));
  include("footer.html", document.getElementById("footer"));
  include("headers.html", document.getElementsByTagName("head")[0]);
</script>
